@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap");

/* genaral style */
body {
  background: #f1f3f6;
  font-family: "Roboto", sans-serif;
}

.heading {
  font-family: "Lora", serif;
}

.productTitle {
  font-size: 14px;
  font-weight: 500;
}

.grayBG {
  background-color: #bac0c9;
}

.yellowBG {
  background-color: #ffe500;
}

.orangeBG {
  background-color: #ff9f00;
}

.blueBG {
  background-color: #2874f0;
}
.blackBG {
  background-color: #172337;
}

.whiteBG {
  background-color: #fff;
}

.btn {
  border-radius: 0 !important;
  font-size: 20px;
}

.fa-lg {
  font-size: 28px;
  padding-right: 5px;
}

.margintopspace {
  margin-top: 85px;
}

.marginbottomspace {
  margin-bottom: 100px !important;
}

.hovered:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.gotocart {
  background: #fff;
  margin-top: -60px;
  position: relative;
  z-index: 1;
  opacity: 0;
}

.gotocart:hover {
  opacity: 1;
}

.loadingStyle {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* navbar style */
nav .navbar-toggler:focus {
  outline: #ffe500;
  border: 1px solid #ededed;
}

nav .nav-link,
nav {
  font-size: 18px;
  letter-spacing: 1.4px;
}

.navbar-brand {
  font-size: 22px !important;
}

.braintree-sheet {
  border-radius: 0;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

.footerImage {
  text-align: right;
}

@media (max-width: 767px) {
  .footerImage,
  .footerText {
    margin-top: 5px;
    text-align: center;
  }
}
